@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600&display=swap");

* {
  box-sizing: border-box;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

body {
  color: white;
  justify-content: center;
}
#copy {
  background-color: #e7e7e7;
  font-size: 20px;
  padding: 14px 40px;
  border-radius: 15px;
  margin-left: 10px;
  margin-bottom: 10px;
}

#wrapper {
  background-color: #F5F5F5;
    margin-left: 15%;
    padding-bottom: 50px;
    padding-top: 30px;
    margin-top: 30px;
    width: 980px;
}

#btn {
  margin-top: 20px; 
}

h1 {
  text-align: center;
  margin-top: 5px;
  margin-bottom: 45px;
  font-size: 2em;
  font-weight: bold;
}
#content {
  margin-left: 10%;
  margin-right: 10%;
  background-color: #FFFFFF;
  box-shadow: 5px 10px 18px #888888;

}

textarea {
  padding: 10%;
  border: dashed 1px gray;
  margin-left: 10%;
  padding-left: 15%;
  padding-right: 15%;
  width: 50%; 
  text-align: center;
  color: #696969;
  font-size: 18px;
}
h2 {
  margin-left: 20px;
  padding-top: 10px;
  margin-bottom: 10px;
  font-size: 1.5em;
  font-weight: bold;
}

#generate {
  background-color: #f44336;
  font-size: 20px;
  padding: 14px 40px;
  border-radius: 15px;
  margin-left: 18%;
  margin-bottom: 10px;
}

